.root { 
  left: 4%;
  position: absolute;
  top: 30%;
}



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-image {
    
    width: 100%;
    
    
    border-radius: 4px;
}

.card_img_box { 
  width: 143px;
  height: 160px;
  overflow: hidden;
}

.card-title {
  font-size: 9px;

}

.card_title_box { 
  width: 100%;
  height: 27px;
}

.card-price {
  font-weight: bold;
  margin-top: 5px;
}

.card-description {
  margin-top: 10px;
  font-size: 10px;
}

.card_description_box { 
  width: 100%;
  height: 69px;
}


.card-category {
  margin-top: 10px;
  font-size: 12px;
  color: #888;
}

.card-rating {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.rating-value {
  margin-right: 5px;
  font-weight: bold;
}

.rating-count {
  color: #888;
}

.add-to-card-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-card-button:hover {
  background-color: #0056b3;
}

.add-to-card-button {
  width: 215px;
  height: 40px;
  background-color: #2196f3;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-card-button.loading {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-to-card-button.success {
  background-color: #4caf50;

}

.add-to-card-button .loader {
  display: inline-block;
  border: 4px solid #fff;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


